$primary-color: #F37728;
$secondary-color: #DA3753;
$primary-color-light: #FBEEE5;
$gray-color: #7D7D7D;
$gray-color-light: #F9F9F9;
$border-color: #DFDFDF;
$white-color:#FFFFFF;
$black-color:#000000;