$px-1 : 0.063rem;
$px-2 : 0.125rem;
$px-3 : 0.188rem;
$px-4 : 0.25rem;
$px-5 : 0.313rem;
$px-6 : 0.375rem;
$px-7 : 0.438rem;
$px-8 : 0.5rem;
$px-9 : 0.563rem;
$px-10 : 0.625rem;
$px-11 : 0.688rem;
$px-12 : 0.75rem;
$px-13 : 0.813rem;
$px-14 : 0.875rem;
$px-15 : 0.938rem;
$px-16 : 1rem;
$px-17 : 1.063rem;
$px-18 : 1.125rem;
$px-19 : 1.188rem;
$px-20 : 1.25rem;
$px-21 : 1.313rem;
$px-22 : 1.375rem;
$px-23 : 1.438rem;
$px-24 : 1.5rem;
$px-25 : 1.563rem;
$px-26 : 1.625rem;
$px-27 : 1.688rem;
$px-28 : 1.75rem;
$px-29 : 1.813rem;
$px-30 : 1.875rem;
$px-31 : 1.938rem;
$px-32 : 2rem;
$px-33 : 2.063rem;
$px-34 : 2.125rem;
$px-35 : 2.188rem;
$px-36 : 2.25rem;
$px-37 : 2.313rem;
$px-38 : 2.375rem;
$px-39 : 2.438rem;
$px-40 : 2.5rem;
$px-41 : 2.563rem;
$px-42 : 2.625rem;
$px-43 : 2.688rem;
$px-44 : 2.75rem;
$px-45 : 2.813rem;
$px-46 : 2.875rem;
$px-47 : 2.938rem;
$px-48 : 3rem;
$px-49 : 3.063rem;
$px-50 : 3.125rem;
$px-51 : 3.188rem;
$px-52 : 3.25rem;
$px-53 : 3.313rem;
$px-54 : 3.375rem;
$px-55 : 3.438rem;
$px-56 : 3.5rem;
$px-57 : 3.563rem;
$px-58 : 3.625rem;
$px-59 : 3.688rem;
$px-60 : 3.75rem;
$px-61 : 3.813rem;
$px-62 : 3.875rem;
$px-63 : 3.938rem;
$px-64 : 4rem;
$px-65 : 4.063rem;
$px-66 : 4.125rem;
$px-67 : 4.188rem;
$px-68 : 4.25rem;
$px-69 : 4.313rem;
$px-70 : 4.375rem;
$px-71 : 4.438rem;
$px-72 : 4.5rem;
$px-73 : 4.563rem;
$px-74 : 4.625rem;
$px-75 : 4.688rem;
$px-76 : 4.75rem;
$px-77 : 4.813rem;
$px-78 : 4.875rem;
$px-79 : 4.938rem;
$px-80 : 5rem;
$px-81 : 5.063rem;
$px-82 : 5.125rem;
$px-83 : 5.188rem;
$px-84 : 5.25rem;
$px-85 : 5.313rem;
$px-86 : 5.375rem;
$px-87 : 5.438rem;
$px-88 : 5.5rem;
$px-89 : 5.563rem;
$px-90 : 5.625rem;
$px-91 : 5.688rem;
$px-92 : 5.75rem;
$px-93 : 5.813rem;
$px-94 : 5.875rem;
$px-95 : 5.938rem;
$px-96 : 6rem;
$px-97 : 6.063rem;
$px-98 : 6.125rem;
$px-99 : 6.188rem;
$px-100 : 6.25rem;
$px-112 : 7rem;

$px-144: 9rem;
$px-197: 12.313rem;
$px-210: 13.125rem;
$px-214: 13.375rem;
$px-240: 15rem;